---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';


import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import Stats from '~/components/widgets/Stats.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

      <Hero
        image={{ src: import('~/assets/images/header/home-hero.svg'), alt: 'MGKNeT Hero Image' }}
      />

  <!-- Features Widget *************** -->

  <Features
    highlight="Services"
    title="What we are good at?"
    subtitle=""
    items={[
      [
        {
          title: 'WordPress WooCommerce E-Commerce',
          description:
            'A seamless integration between two great frameworks that offer high productivity, performance and versatility.',
          icon: 'tabler:brand-tailwind',
        },
        {
          title: 'Maintenance & Support',
          description:
            'Grow your business while we manage all of your WordPress websites. We provide fast, effective, high-quality, and dedicated WordPress support and ongoing maintenance services.',
          icon: 'tabler:components',
        },
        {
          title: 'Audits',
          description:
            'We have a 50-part website audit that analyzes all components of your website, from technical setup to speed to broken areas.',
          icon: 'tabler:list-check',
        },
      ],
      [
        {
          title: 'Managed WordPress Cloud',
          description:
            'We deliver complete WordPress management services done by WordPress experts who know your website. Partner with a team that takes care of all your WordPress headaches.',
          icon: 'tabler:rocket',
        },
        {
          title: 'Consulting',
          description:
            'Often, just one single idea can create massive changes for a business, changes that significantly move the needle. That is the power of hiring a consultant: unbiased analysis and opinion from an expert.',
          icon: 'tabler:arrows-right-left',
        },
        {
          title: 'Private Training',
          description:
            'With all the complexities of running a website in today’s digital environment, it can be difficult to keep up with. There are so many moving parts, and all need to work together for the site to perform at its peak.',
          icon: 'tabler:bulb',
        },
      ],
    ]}
  />



  <!-- Steps Widget ****************** -->

  <Steps
    title="How do we work?"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Write us a message</em>',
        description:
          '',
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Wait for our audits</em>',
        description:
          '',
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Planing</span>',
        description:
          'After our explanation we start planning what and when it needs to be done.',
        icon: 'tabler:paint',
      },
      {
        title: 'Start working!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: import('~/assets/images/creativity.jpg'),
      alt: 'Steps image',
    }}
  />
  <!-- HighlightedPosts Widget ******* -->

  <LatestPosts
    title="Find out more content in our Blog"
    information={``}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    items={[
      { name: 'Decrese server usage', value: '35%' },
      { name: 'Bounce rate improvement', value: '25%' },
      { name: 'Increase SEO Traffic', value: '2.5x' },
      { name: 'Monthly users', value: '350 K' },
    ]}
  />

</Layout>
